body {
	background-image: url('http://i.imgur.com/mlFvqQh.png');
	
	background-attachment: fixed;
	background-repeat: no-repeat;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position-x: 1050px;
	background-position-y: 600px; 
	background-size: 10%;
  
}

.accounts-search {
	margin-bottom: 15px;
}

.search-input-filter:focus {
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.full-width {
	width: 100%;
}

.clickable {
	cursor: pointer;
}

.progressbuttons{
	margin:auto;
}

.actions{
	margin: auto;
}

h1 {
	font-size: 60px;
}
