<template name="home">
	<br>
	{{#if isAdminUser}}
		<div class="ui huge header">Welcome {{#with currentUser}}{{email}}{{/with}}!</div>
		{{> updateRolesModal}}
	{{else}}	
		{{#if isInRole 'worker'}}
			<div class="ui huge header">Welcome {{#with currentUser}}{{email}}{{/with}}!</div>

			<div class="ui container">
				{{> currentOrders}}
			</div>	

		{{else}}
			{{#if isInRole 'client'}}
				<div class="ui huge header">Welcome {{#with currentUser}}{{email}}{{/with}}!</div>
				
				<div class="ui container">
					{{> addItem}}
			  	</div>
			  	<br><br><br>
			  	<div class="ui container">
			  		{{> orderTracker}}
			  	</div>

			{{else}}
				<div class="ui huge header">Hi stranger!</div>
			{{/if}}	
		{{/if}}
	{{/if}}
</template>