<template name="itemList">
  {{#if isInRole 'client'}}
  <br>
    <div class="ui medium header">Order History</div>
    <table class="ui compact celled striped table">
      <thead>
        <tr>
          <th class="three column wide"><i class="ui search icon" id="searchButton"></i>Size{{> itemsearch columnName='size'}}</th>
          <th class="three column wide">Crust{{> itemsearch columnName='crust'}}</th>
          <th class="three column wide">Toppings{{> itemsearch columnName='toppings'}}</th>
          <th class="three column wide">Date{{> itemsearch columnName='createdAt'}}</th>
          <th class="three column wide">Price{{> itemsearch columnName='price'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each items}}
          {{> itemsDone}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    {{#if isInRole 'worker'}}
    <br>
      <div class="ui medium header">Order History</div>
      <table class="ui compact celled striped table">
        <thead>
          <tr>
            <th class="three column wide"><i class="ui search icon" id="searchButton"></i>Size{{> itemsearch columnName='size'}}</th>
            <th class="three column wide">Crust{{> itemsearch columnName='crust'}}</th>
            <th class="three column wide">Toppings{{> itemsearch columnName='toppings'}}</th>
            <th class="three column wide">Date{{> itemsearch columnName='createdAt'}}</th>
            <th class="three column wide">Price{{> itemsearch columnName='price'}}</th>
            <th class="three column wide">Email{{> itemsearch columnName='email'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each items}}
            {{> itemsDone}}
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  {{/if}}   
</template>

<template name="itemsearch">
  <div class="ui fluid mini input filterInput">
    <input type="text" class="searchInput"  placeholder="Filter..." value="{{searchValue}}">
  </div>  
</template>


<template name="itemsDone">
  
  {{#if canSee}}
    {{#if rated}}
      <tr>
        <td>{{size}}</td>
        <td>{{crust}}</td>
        <td>{{toppings}}</td>
        <td>{{convertedTime}}</td>
        <td>{{price}}</td>
      </tr>
    {{/if}}
  {{else}}
    {{#if workerCanSee}}
      <tr>
        <td>{{size}}</td>
        <td>{{crust}}</td>
        <td>{{toppings}}</td>
        <td>{{convertedTime}}</td>
        <td>{{price}}</td>
        <td>{{email}}</td>
      </tr>
    {{/if}}
  {{/if}}
</template>