<template name="home">
	<br>
	{{#if isAdminUser}}
		<h1>pizza.</h1>
		<div class="ui medium header">Welcome {{#with currentUser}}{{email}}{{/with}}!</div>

		{{> updateRolesModal}}
	{{else}}	
		{{#if isInRole 'worker'}}
			<h1>pizza.</h1>
			<div class="ui medium header">Welcome {{#with currentUser}}{{email}}{{/with}}!</div>

			<div class="ui container">
				{{> currentOrders}}
			</div>	

		{{else}}
			{{#if isInRole 'client'}}
				<h1>pizza.</h1>
				<div class="ui medium header">Welcome {{#with currentUser}}{{email}}{{/with}}!</div>
				
				<div class="ui container">
					{{> addItem}}
			  	</div>
			  	<br><br><br>
			  	<div class="ui container">
			  		{{> orderTracker}}
			  	</div>

			{{else}}
				<h1>pizza.</h1>
				<div class="ui medium header">Hi stranger.</div>
			{{/if}}	
		{{/if}}
	{{/if}}
</template>