<template name="addItem">
{{#if isLoggedIn}}
<div id="addItemAccordion" class="ui styled fluid accordion">
  <div class="title">
    <div class="ui mini green button"><i class="ui add icon"></i>New Order</div>  
  </div>

  <div class="content">
    <form class="ui form" id="addItemForm">
      <div class="two fields">
        <div class="field">
          <label for="itemStore">Store:</label>
          <input type="text" id="itemStore">
        </div>
        <div class="field">
          <label for="itemName">Name:</label>
          <input type="text" id="itemName">
        </div>
      </div>
      <div class="five fields">
        <div class="field">
          <label for="itemSize">Size:</label>
          
          <select class="ui dropdown" id='itemSize'>
          	  <option value=""></option>
			  <option value="Small">Small</option>
			  <option value="Medium">Medium</option>
			  <option value="Large">Large</option>
		  </select>

        </div>
        <div class="field">
          <label for="itemWeightType">Weight Type:</label>
          <input type="text" id="itemWeightType">
        </div>
        <div class="field">
          <label for="itemQty">Qty</label>
          <input type="text" id="itemQty">
        </div>
        <div class="field">
          <label for="itemQtyType">Qty Type:</label>
          <input type="text" id="itemQtyType">
        </div>
        <div class="field">
          <label for="itemPrice">Price:</label>
          <input type="text" id="itemPrice">
        </div>
          <label for="itemEmail"></label>
          <input type="hidden" id="itemEmail" value="{{#with currentUser}}{{email}}{{/with}}">

          <label for="itemWorker"></label>
          <input type="hidden" id="itemWorker" value="worker">

          <label for="itemStatusOne"></label>
          <input type="hidden" id="itemStatusOne" value="red">

          <label for="itemStatusTwo"></label>
          <input type="hidden" id="itemStatusTwo" value="red">

          <label for="itemStatusThree"></label>
          <input type="hidden" id="itemStatusThree" value="red">

          <label for="itemStatusFour"></label>
          <input type="hidden" id="itemStatusFour" value="red">
      </div>
      <input type="submit" id="addNewItem" class="ui mini primary button" value="Save">
      <div id="cancelButton" class="button ui mini red button">Cancel</div>
    </form>
  </div>
</div>
{{/if}}
</template>
