<template name="addItem">
{{#if isLoggedIn}}
<div id="addItemAccordion" class="ui styled fluid accordion">
  <div class="title">
    <div class="ui mini green button"><i class="ui add icon"></i>New Order</div>  
  </div>

  <div class="content">
    <form class="ui form" id="addItemForm">
      <div class="three fields">
        <div class="field">
          <label for="itemSize">Size:</label>
          <select class="ui dropdown" id='itemSize'>
              <option value=""></option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
          </select>
        </div>
        <div class="field">
          <label for="itemCrust">Crust:</label>
          <select class="ui dropdown" id='itemCrust'>
              <option value=""></option>
              <option value="Thin">Thin</option>
              <option value="Regular">Regular</option>
              <option value="Pan">Pan</option>
          </select>
        </div>
        <div class="field">
          <label for="itemToppings">Toppings:</label>
          <select class="ui dropdown" id='itemToppings'>
              <option value="Cheese">Cheese</option>
              <option value="Mushroom">Mushroom</option>
              <option value="Pepperoni">Pepperoni</option>
              <option value="Sausage">Sausage</option>
          </select>
        </div>
      </div>
          <label for="itemPrice"></label>
          <input type="hidden" id="itemPrice" value='1'>

          <label for="itemEmail"></label>
          <input type="hidden" id="itemEmail" value="{{#with currentUser}}{{email}}{{/with}}">

          <label for="itemWorker"></label>
          <input type="hidden" id="itemWorker" value="worker">

          <label for="itemStatusOne"></label>
          <input type="hidden" id="itemStatusOne" value="red">

          <label for="itemStatusTwo"></label>
          <input type="hidden" id="itemStatusTwo" value="red">

          <label for="itemStatusThree"></label>
          <input type="hidden" id="itemStatusThree" value="red">

          <label for="itemStatusFour"></label>
          <input type="hidden" id="itemStatusFour" value="red">

          <label for="itemStatusFive"></label>
          <input type="hidden" id="itemStatusFive" value="red">

          <label for="itemRating"></label>
          <input type="hidden" id="itemRating" value="none">
      <input type="submit" id="addNewItem" class="ui mini primary button" value="Save">
      <div id="cancelButton" class="button ui mini red button">Cancel</div>
    </form>
  </div>
</div>
{{/if}}
</template>
