<template name="currentOrders">
{{#if isInRole 'worker'}}
<br>
  <div class="ui medium header">Current Orders</div>
  <table class="ui compact celled striped table">
    <thead>
      <tr>
        <th class="three column wide">Email</th>
        <th class="three column wide">Size</th>
        <th class="three column wide">Crust</th>
        <th class="three column wide">Toppings</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      {{#each items}}
        {{> itemWorker}}
      {{/each}}
    </tbody>
  </table>
{{/if}}  
</template>

<template name="itemWorker">
  {{#if incomplete}}
    <tr>
      <td>{{email}}</td>
      <td>{{size}}</td>
      <td>{{crust}}</td>
      <td>{{toppings}}</td>
      <td>{{#if new}}<a href="/{{_id}}" class="ui mini primary button makeItem">Start the Order!</a>{{else}}<a href="/{{_id}}" class="ui mini primary button">Get 'er done!</a>{{/if}}</td>
    </tr>
  {{/if}}  
</template>

