<template name="currentOrders">
  {{#if isInRole 'worker'}}
<br>
  <div class="ui medium header">Current Orders</div>
  <table class="ui compact celled striped table">
    <thead>
      <tr>
        <th class="two column wide">Store</th>
        <th class="two column wide">Name</th>
        <th class="two column wide">Email</th>
        <th class="two column wide">Size</th>
        <th class="two column wide">Weight Type</th>
        <th class="two column wide">Qty</th>
        <th class="two column wide">Qty Type</th>
        <th class="two column wide">Price</th>
        {{#if isLoggedIn}}<th></th>{{/if}}
        
      </tr>
    </thead>
    <tbody>
      {{#each items}}
        {{> itemWorker}}
      {{/each}}
    </tbody>
  </table>
  {{/if}}  
</template>

<template name="itemWorker">

    <tr>
      <td>{{store}}</td>
      <td>{{name}}</td>
      <td>{{email}}</td>
      <td>{{size}}</td>
      <td>{{weightType}}</td>
      <td>{{qty}}</td>
      <td>{{qtyType}}</td>
      <td>{{price}}{{worker}}</td>
      {{#if isLoggedIn}}<td><a href="/{{_id}}" class="ui mini primary button makeItem">Start the Order!</a></td>{{/if}}
    </tr>
    
</template>

