<template name="itemList">
  {{#if isInRole 'client'}}
<br>
  <div class="ui medium header">Order History</div>
  <table class="ui compact celled striped table">
    <thead>
      <tr>
        <th class="two column wide"><i class="ui search icon" id="searchButton"></i>Store{{> itemsearch columnName='store'}}</th>
        <th class="two column wide">Name{{> itemsearch columnName='name'}}</th>
        <th class="two column wide">Size{{> itemsearch columnName='size'}}</th>
        <th class="two column wide">Weight Type{{> itemsearch columnName='weightType'}}</th>
        <th class="two column wide">Qty{{> itemsearch columnName='qty' number=true }}</th>
        <th class="two column wide">Qty Type{{> itemsearch columnName='qtyType'}}</th>
        <th class="two column wide">Price{{> itemsearch columnName='price' number=true }}</th>
        {{#if isLoggedIn}}<th></th>{{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each items}}
        {{> item}}
      {{/each}}
    </tbody>
  </table>
  {{/if}}  
</template>

<template name="itemsearch">
  <div class="ui fluid mini input filterInput">
    <input type="text" class="searchInput"  placeholder="Filter..." value="{{searchValue}}">
  </div>  
</template>


<template name="item">
  {{#if editing}}
    <tr class="ui form">
      <td><div class="ui mini input"><input type="text" id="editItemStore" value="{{store}}"></div></td>
      <td><div class="ui mini input"><input type="text" id="editItemName" value="{{name}}"></div></td>
      <td><div class="ui mini input">
 			<select class="ui dropdown" id='editItemSize'>
 			  <option value="{{size}}">{{size}}</option>
			  <option value="Small">Small</option>
			  <option value="Medium">Medium</option>
			  <option value="Large">Large</option>
		  	</select>
      </div></td>
      <td><div class="ui mini input"><input type="text" id="editItemWeightType" value="{{weightType}}"></div></td>
      <td><div class="ui mini input"><input type="text" id="editItemQty" value="{{qty}}"></div></td>
      <td><div class="ui mini input"><input type="text" id="editItemQtyType" value="{{qtyType}}"></div></td>
      <td><div class="ui mini input"><input type="text" id="editItemPrice" value="{{price}}"></div></td>
      <td><button class="ui mini primary button saveItem"><i class="ui save icon"></i>Save</button><button class="ui mini red button cancelItem"><i class="ui cancel icon"></i>Cancel</button></td>
    </tr>
  {{else}}
  {{#if canEdit}}
    <tr>
      <td>{{store}}</td>
      <td>{{name}}</td>
      <td>{{size}}</td>
      <td>{{weightType}}</td>
      <td>{{qty}}</td>
      <td>{{qtyType}}</td>
      <td>{{price}}</td>
      {{#if isLoggedIn}}<td><button class="ui mini primary button editItem"><i class="ui edit icon"></i>Edit</button><button class="ui mini red button deleteItem"><i class="ui delete icon"></i>Delete</button></td>{{/if}}
    </tr>
    {{/if}}
  {{/if}}
</template>