<template name="itemList">
  {{#if isInRole 'client'}}
<br>
  <div class="ui medium header">Order History</div>
  <table class="ui compact celled striped table">
    <thead>
      <tr>
        <th class="two column wide"><i class="ui search icon" id="searchButton"></i>Store{{> itemsearch columnName='store'}}</th>
        <th class="two column wide">Name{{> itemsearch columnName='name'}}</th>
        <th class="two column wide">Size{{> itemsearch columnName='size'}}</th>
        <th class="two column wide">Weight Type{{> itemsearch columnName='weightType'}}</th>
        <th class="two column wide">Qty{{> itemsearch columnName='qty' number=true }}</th>
        <th class="two column wide">Qty Type{{> itemsearch columnName='qtyType'}}</th>
        <th class="two column wide">Price{{> itemsearch columnName='price' number=true }}</th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
        {{> itemsDone}}
      {{/each}}
    </tbody>
  </table>
  {{/if}}  
</template>

<template name="itemsearch">
  <div class="ui fluid mini input filterInput">
    <input type="text" class="searchInput"  placeholder="Filter..." value="{{searchValue}}">
  </div>  
</template>


<template name="itemsDone">
  
  {{#if canSee}}
    <tr>
      <td>{{store}}</td>
      <td>{{name}}</td>
      <td>{{size}}</td>
      <td>{{weightType}}</td>
      <td>{{qty}}</td>
      <td>{{qtyType}}</td>
      <td>{{price}}</td>
    </tr>
  {{/if}}
</template>