<template name="orderTracker">
	{{#if isLoggedIn}}
	<div class="ui large header">Tracking your current order...</div>

	  <table class="ui compact celled striped table">
	    <thead>
	      <tr>
	        <th class="three column wide">Size</th>
	        <th class="three column wide">Crust</th>
	        <th class="three column wide">Toppings</th>
	        <th class="three column wide">Date</th>
	        <th class="three column wide">Status</th>
	        {{#if isLoggedIn}}<th></th>{{/if}}
	      </tr>
	    </thead>
	    <tbody>
	      {{#each items}}
	        {{> item}}
	      {{/each}}
	    </tbody>
	  </table>
	{{/if}}
</template>

<template name="item">
  {{#if editing}}
    <tr class="ui form">
      <td><div class="ui mini input">
 			<select class="ui dropdown" id='editItemSize'>
 			  <option value="{{size}}">{{size}}</option>
			  <option value="Small">Small</option>
			  <option value="Medium">Medium</option>
			  <option value="Large">Large</option>
		  	</select>
      </div></td>
      <td><div class="ui mini input">
 			<select class="ui dropdown" id='editItemCrust'>
 			  <option value="{{crust}}">{{crust}}</option>
			  <option value="Thin">Thin</option>
			  <option value="Regular">Regular</option>
			  <option value="Pan">Pan</option>
		  	</select>
      </div></td>
      <td><div class="ui mini input">
 			<select class="ui dropdown" id='editItemToppings'>
 			  <option value="{{toppings}}">{{toppings}}</option>
			  <option value="Cheese">Cheese</option>
			  <option value="Mushroom">Mushroom</option>
			  <option value="Pepperoni">Pepperoni</option>
			  <option value="Sausage">Sausage</option>
		  	</select>
      </div></td>
      <td></td>
      <td></td>
      <td><button class="ui mini primary button saveItem"><i class="ui save icon"></i>Save</button><button class="ui mini red button cancelItem"><i class="ui cancel icon"></i>Cancel</button></td>
    </tr>
  {{else}}
	  {{#if canEdit}}
		  	{{#if notRated}}
			    <tr>
			      <td>{{size}}</td>
			      <td>{{crust}}</td>
			      <td>{{toppings}}</td>
			      <td>{{convertedTime}}</td>
			      <td>{{status}}</td>
			      <td>{{#if stillEditable}}<button class="ui mini primary button editItem">Edit Order</button><button class="ui mini red button deleteItem">Cancel Order</button>{{/if}}{{#if complete}}{{> rateModal}}{{/if}}</td>
			    </tr>
		    {{/if}}
	   {{/if}}
  {{/if}}
</template>

<template name='rateModal'>

 <button class="ui pink small button">Rate us!</button>
  

  <div id='modalView' class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    Were you satisfied?
  </div>
  {{> innerRateModal}}
</div>
</template>

<template name='innerRateModal'>
{{#with userInScope}}
	<div class="actions">
    <button class="ui negative massive button">
      Nope.
    </button>
    <button class="ui positive massive button">
      Yes!
    </button>
  </div>
{{/with}}  
</template>