<template name="specificOrder">
{{#if isInRole 'worker'}}
<br>
<div class="ui container">
	<div class="ui huge header">Order Details:</div>
	<div class="ui medium header"><h2>{{email}}</h2> ordered a <h2>{{size}}</h2> pizza with these toppings.</div>
</div>
<br><br><br>
<div class="ui container progressbuttons">
<button class="huge ui {{statusOne}} button one">Order Received...</button>
<button class="huge ui {{statusTwo}} button two">Prepping your pie for the oven...</button>
<button class="huge ui {{statusThree}} button three">It's baking...</button>
<button class="huge ui {{statusFour}} button four">Out for delivery!</button>
</div>

{{/if}}
</template>