<template name="specificOrder">
{{#if isInRole 'worker'}}
<br>
<div class="ui container">
	<div class="ui huge header">Order Details:</div>
	<div class="ui medium header"><h2>{{email}}</h2> ordered a <h2>{{size}} {{crust}}</h2> crust pizza with <h2>{{toppings}}.</h2></div>
</div>
<br><br><br>
<div class="ui container progressbuttons">
<button class="huge ui {{statusOne}} button one">Order Received...</button>
<button class="huge ui {{statusTwo}} button two">Prepping your pie...</button>
<button class="huge ui {{statusThree}} button three">It's baking...</button>
<button class="huge ui {{statusFour}} button four">Out for delivery!</button>
<button class="huge ui {{statusFive}} button five">Delivered.</button>
</div>

{{/if}}
</template>