<template name="header">
  <div class="ui attached stackable menu">
    <div class="ui container">
      <a href="/" class="item">
        <i class="home icon"></i> Home
      </a>

      {{#if isInRole 'admin'}}
      <div class="ui simple dropdown item">
        Admin Stuff
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="/accountsadmin/" class="item"><i class="users icon"></i>Accounts</a>

          <a href="#updateroles" data-toggle="modal" class="item"><i class="announcement icon"></i>Manage Roles</a>

          <a href="/ordersadmin/" class="item"><i class="pie chart icon"></i>Orders History</a>
          
          <a class="item"><i class="settings icon"></i> Account Settings</a>
        </div>
      </div>
      <div class='ui item'>pizza.</div>
      {{/if}}

      {{#if isInRole 'worker'}}
      <div class="ui simple dropdown item">
        Worker Stuff
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="/itemhistory/" class="item"><i class="edit icon"></i>Order History</a>

          <a class="item"><i class="settings icon"></i> Account Settings</a>
        </div>
      </div>
      {{/if}}

      {{#if isInRole 'client'}}
      <div class="ui simple dropdown item">
        Client Stuff
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="/itemhistory/" class="item"><i class="edit icon"></i>Order History</a>

          <a class="item"><i class="settings icon"></i> Account Settings</a>
        </div>
      </div>
      {{/if}}

    </div>
    <div class="ui container">
      <div class="right menu">
        {{> loginButtons}}
      </div>
    </div>  
  </div>
</template>
